<%- include("../includes/head") %> 
    <style> 
    .dataTables_scrollBody {
        overflow: visible !important;
    }
    </style>
    <%- include("../includes/main-header") %> 
    <%- include("../includes/aside") %> 

<div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <h3 class="content-header-title">all carosals</h3>
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/Carosal/dashpored">main</a>
                                </li>
                                <li class="breadcrumb-item active"> all carosals
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- DOM - jQuery events table -->
                <section id="dom">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">all carosals in sit</h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include("../includes/notification") %> 

                                <div class="card-content collapse show">
                                    <div class="card-body card-dashboard ">
                                        <table 
                                            class="table display nowrap table-striped table-bordered scroll-horizontal " style="width:100%">
                                            <thead>
                                            <tr>
                                                <th> small title</th>
                                                <th>small title</th>
                                                <th>link</th>
                                                <th>image</th>
                                                <th>state</th>
                                                <th>action</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <% carosals.forEach(element => { %>
                                                 <tr>
                                                        <td><%= element.fName %> <%= element.title_ar %></td>
                                                        <td class="chang"><p><%= element.header_ar %></p></td></td>
                                                        <td class="chang"><p><%= element.link_name_ar %></p></td></td>
                                                        <% if (element.image) { %>
                                                            <td><img style="width:70px ; height:70px" src="/assets/dashboard/images/Carosals/<%= element.image.split("--")[0] %>" alt=""></td>
                                                        <% } else { %>
                                                            <td><img style="width:70px ; height:70px" src="/assets/dashboard/images/Carosals/avatar.png" alt=""></td>
                                                        <%}%>
                                                        <td><%= element.active ? "active" : "notActive" %></td>

                                                     
                                                        <td style="position:relative">
                                                            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">controllers</a>
                                                            <ul class="dropdown-menu " style="box-shadow: 3px 3px 7px rgba(0,0,0,0.1);" aria-labelledby="dropdownMenuButton2">
                                                                <li><a href="editCarosal/<%= element.id %>" class="dropdown-item">edit</a></li>
                                                                <li>
                                                                    <form class="d-inline-block" action="activeCarosal" method="post" style="width:100%">
                                                                        <input type="hidden" name="carosalStatus" value="<%= element.active %>">
                                                                        <input type="hidden" name="id" value="<%= element.id %>">
                                                                        <button class="dropdown-item d-block" style="cursor: pointer;width:100%;outline:0;border:0;background:none"><%= !element.active ? "active" : "Deactivation" %></button>
                                                                    </form>
                                                                </li>
                                                                <li>
                                                                    <form class="d-inline-block" action="deleteCarosal" method="post" style="width:100%">
                                                                        <input type="hidden" name="image" value="<%= element.image %>">
                                                                        <input type="hidden" name="id" value="<%= element.id%>">
                                                                        <button class="dropdown-item d-block" style="cursor: pointer;width:100%;outline:0;border:0;background:none">delete</button>
                                                                    </form>
                                                                </li>
                                                         
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                        <div class="justify-content-center d-flex">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>


    <%- include("../includes/footer") %> 
    <%- include("../includes/footerScript") %> 
</body>
</html>


