<%- include("../includes/head") %> 



    <%- include("../includes/main-header") %> 
    <%- include("../includes/aside") %> 

    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
                <div class="content-header-left col-md-6 col-12 mb-2">
                    <div class="row breadcrumbs-top">
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/admin/dashpored">main </a>
                                </li>
                                <li class="breadcrumb-item"><a href="/admin/users/"> courses </a>
                                </li>
                                <li class="breadcrumb-item active">add course
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                <!-- Basic form layout section start -->
                <section id="basic-form-layouts">
                    <div class="row match-height">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title" id="basic-layout-form"> add course </h4>
                                    <a class="heading-elements-toggle"><i
                                            class="la la-ellipsis-v font-medium-3"></i></a>
                                    <div class="heading-elements">
                                        <ul class="list-inline mb-0">
                                            <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                            <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                            <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                                            <li><a data-action="close"><i class="ft-x"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <%- include("../includes/notification") %> 
                                <div class="card-content collapse show">
                                    <div class="card-body">
                                        <form enctype="multipart/form-data" class="form" method="post"  >
                                            <div class="form-body main">
                                                <h4 class="form-section"><i class="ft-home"></i> course information </h4>

                                                <div class="row main">
                                                    
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> title in arabic</label>
                                                            <input value="<%= bodyData.title_ar %>" type="text" class="form-control" placeholder=" title in arabic" name="title_ar">
                                                             <% if (validationError.title_ar) { %>
                                                                <span class="text-danger"><%=validationError.title_ar[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1">title in english</label>
                                                            <input  value="<%= bodyData.title_en %>" type="text"  class="form-control"  name="title_en">
                                                            <% if (validationError.title_en) { %>
                                                                    <span class="text-danger"><%=validationError.title_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> description in arabic</label>
                                                            <textarea class="editor" type="text" class="form-control"  name="description_ar"><%- bodyData.description_ar %></textarea>
                                                             <% if (validationError.description_ar) { %>
                                                                <span class="text-danger"><%=validationError.description_ar[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> description in english</label>
                                                            <textarea class="editor" type="text" class="form-control" placeholder="enter description in english" name="description_en"><%- bodyData.description_en %></textarea>
                                                            <% if (validationError.description_en) { %>
                                                                    <span class="text-danger"><%=validationError.description_en[0].msg %></span>
                                                                <% } %>
                                                        </div>
                                                    </div>
                                                    
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput1">content in arabic</label>
                                                            <textarea name="body_ar" class="editor"><%- bodyData.body_ar %></textarea>
                                                              <% if (validationError.body_ar) { %>
                                                                <span class="text-danger"><%- validationError.body_ar[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput1">content in english</label>
                                                            <textarea name="body_en" class="editor"><%- bodyData.body_en %></textarea>
                                                              <% if (validationError.body_en) { %>
                                                                <span class="text-danger"><% validationError.body_en[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1">kind of course</label>
                                                            <select type="text" class="form-control"  name="typeOfCourse">
                                                                <option value=""></option>
                                                                <option value="1" <%= bodyData.typeOfCourse  == "1" ? "selected" : "" %>>course</option>
                                                                <option value="0" <%= bodyData.typeOfCourse == "0" ? "selected" : "" %>>padi course</option>
                                                            </select>
                                                            <% if (validationError.typeOfCourse) { %>
                                                                <span class="text-danger"><%=validationError.typeOfCourse[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> price </label>
                                                            <input  value="<%= bodyData.price %>" type="text" class="form-control" placeholder="enter price" name="price">
                                                             <% if (validationError.price) { %>
                                                                <span class="text-danger"><%=validationError.price[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1"> course days</label>
                                                            <input  value="<%= bodyData.dayOfCourse %>" type="number" class="form-control" placeholder="enter course days" name="dayOfCourse">
                                                           <% if (validationError.dayOfCourse) { %>
                                                               <span class="text-danger"><%=validationError.dayOfCourse[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="projectinput1">number of divers</label>
                                                            <input  value="<%= bodyData.divesOnly %>" type="number" class="form-control" placeholder="enter number of divers" name="divesOnly">
                                                            <% if (validationError.divesOnly) { %>
                                                                <span class="text-danger"><%=validationError.divesOnly[0].msg %></span>
                                                            <% } %>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="projectinput2"> user photo</label>
                                                            <div class="custom-file">
                                                                <input type="file" multiple name="image" class="custom-file-input">
                                                                <label class="custom-file-label">Choose file</label>
                                                            </div>
                                                            <% if (validationError.image) { %>
                                                                <span class="text-danger"><%=validationError.image[0].msg %></span>
                                                            <% } %>
                                                     
                                                        </div>
                                                    </div>

                                                    
                                                    <div class="col-md-4">
                                                        <div class="form-group mt-1">
                                                            <input type="checkbox" name="active"
                                                                value="1"
                                                                class="switch "
                                                                checked
                                                                />
                                                            <label
                                                                class="card-title ml-1">state </label>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>


                                            <button type="submit" class="btn btn-primary col-12">
                                                <i class="la la-check-square-o"></i> save
                                            </button>
                                        </form>

                                      
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- // Basic form layout section end -->
            </div>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    <script>
        const allEditor = document.querySelectorAll( '.editor' )
        allEditor.forEach(ele => {
        ClassicEditor
        .create( ele )
        .catch( error => {
            console.error( error );
        } );
        })
        
    </script>
    <%- include("../includes/footerScript") %> 
    <%- include("../includes/footer") %> 
</body>
</html>
